 
<div class="login-main-container">
    <div class="login-block-tbl">
      <div class="login-block-row">
        <div class="login-block-cell">
          <div class="login-main"> 
              <div class="col-12 col-xs-12 col-md-12 col-lg-6 login-right">
              <div class="login-container">
                  <div class="col-xs-12 leftlogo-div"> 
                <img src="images/pushpak-logo.svg" title="PUSHPAK" alt="PUSHPAK"> 
            </div>
                <div class="form-container">
                  <h4>Login</h4>
                  <div class="form-group">
                    <label>Email ID</label>
                    <input type="text" placeholder="Enter Email ID"> 
                      <span class="spnerrorMsg">Please enter your email</span>
                  </div>
                   
                    <div class="form-group">
                      <div class="linksBlock"> 
                        <a  href="home.html" class="goBtn">Submit</a> 
                        <div class="clearfix"></div>
                          <a href="login.html">Back to Login</a>
                        </div>
                    </div>
                   
                </div>
              </div>
            </div>
              <div class="col-12 col-xs-12 col-md-12 col-lg-6 login-left">
                <div class="loginleftInner">
                  <div class="col-xs-12 padding-0"> 
                    <img src="images/login-img.png" alt="PUSHPAK"> 
                  </div> 
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>